body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
}

h2 {
  font-family: " Montserrat-bold";
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-family: " Montserrat-block";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 750;
}

.container-fluid {
  padding: 3% 15% 5.5%;
}

/*navigation bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-block;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-light";
  font-size: 1.2rem;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 50px;
  display: inline-block;
}

.Downloadbutton {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

.icon {
  color: #ef8172;
  padding-bottom: 4.5%;
}

.icon:hover {
  color: #ff4c68;
}

#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

p {
  color: grey;
}

#testimonials {
  background-color: #ef8172;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.testimonial-image {
  border-radius: 100%;
  width: 15%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-coloumn {
  padding: 3% 2%;
}

.card {
  padding: 7% 15%;
}

#cta {
  text-align: center;
  color: #fff;
  background-color: #ff4c68;
  padding: 7% 15%;
  font-family: "Montserrat-black";
  font-size: 1.2rem;
}

#footer {
  background-color: #fff;
  text-align: center;
}

.footer-icon {
  margin: 50px 10px 20px;
}

.Copyright {
  margin-bottom: 75px;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
